:root {
    --cor01: #f7f7f7;
    --cor02: #c6c6c6;
    --cor03: #ee2211;
    --font: Arial;
}
body{
    font-family: var(--font);
}
a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
}
p{
    font-size: 20px;
}
/**/
.grid{
    display: grid;
    gap: 60px;
}
.bikcraft{
    justify-self: center;
    margin-top: 60px;
}
.menu{
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-self: center;
}
/**/
.conteudo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.info1{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    place-items: end;
    align-self: center;
    justify-content: end;
}
.foto{
    grid-column: 2;
}
.info1 > p {
    text-align: right;
}
.ver_mais{
    background-color: var(--cor03);
    color: var(--cor01);
    padding: 15px 20px;
    border-radius: 4px;
}
/**/
.vantagens{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    font-size: 64px;
    color: var(--cor02);
    text-align: right;
}
.info2{
    display: grid;
    grid-column: 2;
    grid-row: 3;
    place-self: center;
}
.vantagens_items{
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center start;
}
.vantagens_items > p {
    grid-column: 1 / -1;
}
/**/
.rodape{
    text-align: center;
}