:root {
    --cor01: #f7f7f7;
    --cor02: #c6c6c6;
    --cor03: #ee2211;
}
body{
    display: grid;
    justify-items: center;
    gap: 60px;
    margin: 0px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
p, h1, h2, h3{
    margin: 0px;
}
p{
    font-size: 20px;
    line-height: 1.3;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
.menu{
    display: flex;
    gap: 20px;
}
.menu a{
    background-color: var(--cor01);
    color: black;
    padding: 20px;
    border-radius: 4px;
    text-transform: uppercase;
}
.conteudo{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    background-color: var(--cor01);
}
.info{
    display: grid;
    justify-items: end;
    gap: 20px;
    padding: 20px;
}
.info p {
    text-align: right;
}
.ver_mais{
    background-color: var(--cor03);
    color: var(--cor01);
    padding: 15px 20px;
    border-radius: 4px;
}
.detalhe{
    position: absolute;
    background-color: var(--cor03);
    height: 4px;
    width: 60px;
    top: 30px;
    right: 470px;
}
.subtitulo{
    color: var(--cor02);
    font-size: 64px;
    text-align: right;
    padding: 20px;
    text-transform: uppercase;
}
.vantagens{
    display: grid;
    padding: 40px;
    gap: 20px;
}
.vantagens-items{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}
.vantagens-items p{
   grid-column: 2; 
}
.rodape{
    display: block;
    padding: 40px;
}